#sites
  - local_assigns[:locals][:sites].each do |site|
    = render :partial => 'sites/site', :locals => { :site => site, :mode => local_assigns[:locals][:mode] }

:javascript
  new Ajax.PeriodicalUpdater('','#{watches_path(:format => 'json', :site => params[:site] ? params[:site] : '')}',
                            { asynchronous:true,
                              method:'get',
                              frequency:30,
                              onSuccess:function(request) {
                                watchBlock.update(request.responseText.evalJSON());
                              }
                            });