- content_for :head do
  = stylesheet_link_tag 'slides'

= render :partial => 'nav'

= render 'display', :locals => { :sites => @sites, :mode => :compact }

= link_to(image_tag('owl_peek.png', :id => 'peek'), root_path)

:javascript
  Event.observe(window,'resize', resizePanels);
  Event.observe(window,'dom:loaded', resizePanels);