html {
  background-color: #e6e1c7;
  color: #333333;
}

body {
  margin: 1em;
}

a.back {
  font-size: 116%;
  color: #5e3500;
  margin-bottom: 1em;
  display: block;
}

dfn {
  border-bottom: 1px dotted #C89F69;
  cursor: help;
}

h2 {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  color: #5e3500;
  border-bottom: 1px dashed #C89F69;
}

h3 {
  font-size: 161%;
  font-weight: bold;
  margin-bottom: .1em;
  color: #5e3500;
}

form #errorExplanation {
  background-color: #990000;
  color: #ffffff;
  padding: 1em;
}
form #errorExplanation h2 {
  font-size: 131%;
  color: #ffffff;
  margin-bottom: 1em;
}
form #errorExplanation ul {
  margin: 1em 1em;
  padding: 0 1em;
}
form #errorExplanation ul li {
  list-style-type: square;
}
form fieldset {
  width: 33%;
  float: left;
  overflow: hidden;
}
form fieldset.alerts {
  width: 30%;
  background-color: #cbbfa0;
  padding: 1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
form fieldset div.alert {
  overflow: auto;
  background-color: #e6e1c7;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0.5em 0;
  padding: 0.5em;
}
form fieldset div.alert div.name {
  font-weight: bold;
}
form fieldset div.alert div.name a {
  color: #5e3500;
}
form label {
  display: block;
  font-weight: bold;
  margin-top: 1em;
  color: #5e3500;
  font-size: 116%;
}
form input, form select {
  display: block;
  font-size: 131%;
}
form span.example {
  color: #A78553;
  display: block;
  width: 19em;
  font-size: 116%;
}
form .save {
  padding: 2em 0 0;
  float: none;
  clear: left;
  text-align: center;
  font-size: 131%;
}
form .save input[type='submit'] {
  display: inline;
}

.delete {
  text-align: center;
  margin: 2em 0 0;
  font-size: 116%;
}
.delete a {
  color: #990000;
}
